attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.1
docutils==0.22.1
filelock==3.19.1
HTMLParser==0.0.2
ipython==9.5.0
ipywidgets==8.1.7
jnius==1.1.0
keyring==25.6.0
playwright==1.55.0
protobuf==6.32.1
pyOpenSSL==25.3.0
redis==6.4.0
simplejson==3.20.1
Sphinx==8.2.3
thread==2.0.5
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
